@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.fdmt {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.fdst {
    font-size: 18px;
    color: #E5E7EB;

}

.hlinks {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    gap: 16px;

    border: 2px dashed green;
}

.signup-button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
}

.h1pbt {
    align-self: center;
    width: 600px;
    min-width: 100px;

}

.hlinks a {
    text-decoration: none;
    color: #E5E7EB;
}

.first-div {
    display: flex;
    justify-content: center;
    margin: 60px;


}

.header-div1 {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    order: -1;
}

.header {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
    font-size: 16px;
    border: 5px dashed green;


}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100yh;
    font-family: Roboto, sans-serif;
}

.elk1 {
    height: 50px;
    width: auto;
    border: none;
    border-radius: 12px;
}

.mainimg {
    height: 350px;
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
    border: none;
    border-radius: 12px;
    align-self: center;
}

.img-list-info-img {
    height: 200px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 10px;
    margin: 20px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: -50px;
}

.second-div {
    margin: 100px;
}

.second-div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: wrap;
    text-align: center;
    font-size: large;
}

.image-list-text {
    text-align: center;
    margin-top: -15px;
}

.third-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}

